In [1]:
# List of orders
orders = [
    ("La Burrata", 87000, "Ferry"),
    ("Piatto di Formaggi", 70000, "All"),
    ("Spaghetti Aglio Olio e Pepperoncino", 35000, "Fadhil"),
    ("Linguine Cremosi con Bistecca", 105000, "Ferry"),
    ("Ravioli con Ricotta Spinaci", 38000, "Rizky"),
    ("Gnocchi Cremosi alle Noci", 43000, "Fadhil"),
    ("Risotto Spinaci ai Funghi", 88000, "Merla"),
    ("Giorno e Speciale", 103000, "Rizky"),
    ("Panna Cotta", 32000, "Ferry"),
    ("Hot Chocolate", 28000, "Merla"),
    ("Ice Peach Tea", 25000, "Fadhil"),
    ("Ice Peach Tea", 25000, "Ferry"),
    ("Ice Strawberry Tea", 25000, "Rizky"),
    ("Mineral Water", 10000, "Rizky")
]

In [2]:
#KODE SALAH JANGAN DI RUN
print (orders)

[('La Burrata', 87000, 'Ferry'), ('Piatto di Formaggi', 70000, 'All'), ('Spaghetti Aglio Olio e Pepperoncino', 35000, 'Fadhil'), ('Linguine Cremosi con Bistecca', 105000, 'Ferry'), ('Ravioli con Ricotta Spinaci', 38000, 'Rizky'), ('Gnocchi Cremosi alle Noci', 43000, 'Fadhil'), ('Risotto Spinaci ai Funghi', 88000, 'Merla'), ('Giorno e Speciale', 103000, 'Rizky'), ('Panna Cotta', 32000, 'Ferry'), ('Hot Chocolate', 28000, 'Merla'), ('Ice Peach Tea', 25000, 'Fadhil'), ('Ice Peach Tea', 25000, 'Ferry'), ('Ice Strawberry Tea', 25000, 'Rizky'), ('Mineral Water', 10000, 'Rizky')]

In [4]:
#KODE SALAH JANGAN DI RUN
# Tax and service charge percentages
service_charge_percentage = 5
tax_percentage = 10
total_bill = 0
individual_payments = {"Fadhil": 0, "Ferry": 0, "Rizky": 0, "Merla": 0}

In [5]:
#print (total_bill)

0

In [9]:
#KODE SALAH JANGAN DI RUN
#for item, price, person in orders:
    #total_bill += price
    #if person == "All":
        #for name in individual_payments.keys():
            #individual_payments[name] += price / 4
    #else:
       # individual_payments[person] += price
#print (individual_payments)
#print (total_bill)

{'Fadhil': 361500.0, 'Ferry': 799500.0, 'Rizky': 580500.0, 'Merla': 400500.0}
2142000

In [8]:
#KODE SALAH JANGAN DI RUN
#tax = total_bill * tax_percentage / 100
#service_charge = total_bill * service_charge_percentage / 100
#print (tax,service_charge)

142800.0 71400.0

In [11]:
#KODE SALAH JANGAN DI RUN
#total_bill += tax + service_charge
#for name in individual_payments.keys():
    #individual_payments[name] += (tax + service_charge) / 4
    #print (individual_payments)

{'Fadhil': 468600.0, 'Ferry': 853050.0, 'Rizky': 634050.0, 'Merla': 454050.0}
{'Fadhil': 468600.0, 'Ferry': 906600.0, 'Rizky': 634050.0, 'Merla': 454050.0}
{'Fadhil': 468600.0, 'Ferry': 906600.0, 'Rizky': 687600.0, 'Merla': 454050.0}
{'Fadhil': 468600.0, 'Ferry': 906600.0, 'Rizky': 687600.0, 'Merla': 507600.0}

In [12]:
#KODE SALAH JANGAN DI RUN
#equal_split = total_bill / 4

#print(f"Total bill (including tax and service charge): IDR {total_bill:.2f}")
#print(f"Equal split: IDR {equal_split:.2f} per person")
#print("\nAmount to be paid by each person based on their orders:")
#for name, amount in individual_payments.items():
    #print(f"{name}: IDR {amount:.2f}")

Total bill (including tax and service charge): IDR 2570400.00
Equal split: IDR 642600.00 per person

Amount to be paid by each person based on their orders:
Fadhil: IDR 468600.00
Ferry: IDR 906600.00
Rizky: IDR 687600.00
Merla: IDR 507600.00

In [3]:
total_items = 0
individual_payments = {"Fadhil": 0, "Ferry": 0, "Rizky": 0, "Merla": 0}

In [4]:
for item, price, person in orders:
    total_items += price
    if person == "All":
        for name in individual_payments.keys():
            individual_payments[name] += price / 4
    else:
        individual_payments[person] += price

In [5]:
# Service charge (5% of total items)
service_charge = total_items * 0.05
total_with_service = total_items + service_charge

# Tax (10% of total with service charge)
tax = total_with_service * 0.10
total_bill = total_with_service + tax

print (total_bill)

824670.0

In [6]:
rounded_total_bill = round(total_bill / 3300) * 3300
print (rounded_total_bill)

825000

In [7]:
shared_amount = (service_charge + tax) / 4
for name in individual_payments.keys():
    individual_payments[name] += shared_amount

print (individual_payments)

{'Fadhil': 148167.5, 'Ferry': 294167.5, 'Rizky': 221167.5, 'Merla': 161167.5}

In [9]:
equal_split = rounded_total_bill / 4
print (equal_split)

206250.0

In [15]:
print("\nAmount to be paid by each person based on their orders:")
for name, amount in individual_payments.items():
    formatted_amount = "{:,}".format(amount)
    print(f"{name}: IDR {formatted_amount}")

Amount to be paid by each person based on their orders:
Fadhil: IDR 148,167.5
Ferry: IDR 294,167.5
Rizky: IDR 221,167.5
Merla: IDR 161,167.5